<div class="content">

  <h1>Rechne Mal!</h1>

  <h2>Wie viel ist {{faktor1}} mal {{faktor2}}?</h2>

  <div class="antworten-btn-box"
       *ngIf="!hatAntwortAbgegeben">

    <div class="btn-wrapper"
         *ngFor="let lsgMglk of moeglicheLoesungen">

      <app-button class="antworten-btn"
                  (click)="loesungAbgeben(lsgMglk)">
        {{lsgMglk}}
      </app-button>

    </div>

  </div>


  <div class="solution" *ngIf="hatAntwortAbgegeben">

    <div *ngIf="richtigGerechnet">
      {{textRichtigeAntwort}}
      <br>
      <br>
      {{richtigeLoesung}} war die gesuchte Zahl!
    </div>

    <div *ngIf="!richtigGerechnet">
      {{textFalscheAntwort}}
      <br>
      <br>
      Die richtige Lösung wäre {{richtigeLoesung}} gewesen.

      <br>
      <br>

      <div class="tafel">
        <div class="center"
             *ngFor="let zahl of rechenMatrix">

          <div class="rechenZeile">
            <div>{{zahl}}</div>
            <div>x</div>
            <div>{{faktor2}}</div>
            <div>=</div>
            <div>{{zahl * faktor2}}</div>
          </div>

        </div>
      </div>

    </div>

    <br>

    <div class="center">
      <app-button class="neueAufgabe-btn" (click)="neueAufgabe()">Neue Aufgabe</app-button>
    </div>

  </div>


</div>
