button {
  min-width: 75px;
  margin: 3px;
  padding: 10px 25px;
  font-family: 'Indie Flower', cursive;
  font-size: 1.8rem;
  border-radius: 8px;
  border: 2px solid purple;
  box-shadow: 2px 2px 2px rebeccapurple;
  background-color: whitesmoke;
}
